<html>
  <head>
    <meta charset="utf-8" />
    <title>Booking - Confirmation</title>
    <style type="text/css">
      body {
        width: 800px;
        margin: auto;
      }
      table {
        width: 100%;
      }
      table,
      td,
      th {
        border: 1px solid black;
        padding: 3px 2px;
      }
    </style>
  </head>
  <body>
    <section>
      <header>
        <h1>Event Booking page - Booking confirmation</h1>
      </header>
      <table>
        <tr>
          <th colspan="2">Your Booking Status</th>
        </tr>
        <tr>
          <td><b>Attendee Name </b></td>
          <td th:text="${name}"></td>
        </tr>
        <tr>
          <td><b>Client IP Address</b></td>
          <td th:text="${addr}"></td>
        </tr>
        <tr>
          <td><b>Booking for Event</b></td>
          <td th:text="${selectedEvent}"></td>
        </tr>
        <tr>
          <td><b>Number of tickets</b></td>
          <td th:text="${numTickets}"></td>
        </tr>
      </table>
    </section>
    <br />
    <div>
      <form action="/eventBooking" method="get">
        <input type="text" name="text" />
        <input type="submit" value="Search" />
      </form>
      <ul>
        <li th:each="booking : ${bookings}">
          <div th:text="'Event name: '+${booking.eventName}+' | Attendee Name: '+${booking.attendeeName}+' | Address: '+${booking.attendeeAddress}+' | Tickets Number '+${booking.numberOfTickets}"></div>
        </li> 
      </ul>
    </div>
    <a href="/">Back</a>
  </body>
</html>
