<html>
        <head>
            <meta charset="utf-8">
            <title>Booking - Confirmation</title>
            <style type="text/css">
                 body {
                     width: 800px;
                     margin: auto;
                }
                table {
                     width:100%;
                }
                table, td, th {
                    border: 1px solid black;
                    padding: 3px 2px;
                }
           </style>
        </head>
        <body>
           <section>
               <header>
                   <h1>Event Booking page - Booking confirmation </h1>
               </header>
               <table>
                   <tr>
                       <th colspan="2">
                           Your Booking Status
                      </th>
                  </tr>
                   <tr>
                       <td><b>Attendee Name </b></td>
                       <td th:text="${attendee}">Petko Petkov</td>
                  </tr>
                  <tr>
                      <td><b>Client IP Address</b></td>
                      <td th:text="${address}">127.0.0.1</td>
                 </tr>
                 <tr>
                     <td><b>Booking for Event</b></td>
                     <td th:text="${event}">Oppenheimer</td>
                 </tr>
                 <tr>
                     <td><b>Number of tickets</b></td>
                     <td th:text="${tickets}">2</td>
                 </tr>
             </table>
             <form action="/bookings" method="post">
                <input type="hidden" value="true" name="canAdd">
                <input type="submit" value="Book!">
             </form>
             <form action="/events" method="get">
                <input type="submit" value="Back!">
             </form>
             <form action="/bookings" method="get">
                <input type="search" name="text">
                <input type="submit" value="Search">
             </form>
             <ul th:each="booking :${bookings}">
                <li th:text="${booking.attendeeName}"></li>
             </ul>
           </section>
        </body>
    </html>